*{
    box-sizing: border-box;
}

body {
    margin: 0px 15vw;
    padding: 0px;
}

h1 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    color: white;
}

p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: white;
}

.name {
    padding: 5px 0px;
}

.hidden-name {
    background-image: url(name-background.JPG);
    background-size: cover;
    height: 0px;
    overflow: hidden;
    transition: height 1s;
}

.name:hover > .hidden-name {
    height: 475px;
    overflow: hidden;
}

.skills {
    padding: 5px 0px;
}

.hidden-skills {
    background-image: url(windows.jpg);
    background-size: cover;
    height: 0px;
    overflow: hidden;
    transition: height 1s;

}

.skills:hover > .hidden-skills {
    height: 350px;
    overflow: hidden;
}

.experience {
    padding: 5px 0px;
}

.hidden-experience {
    background-image: url(super-mario-alt.png);
    background-size: cover;
    height: 0px;
    overflow: hidden;
    transition: height 1s;
}

.experience:hover > .hidden-experience {
    height: 500px;
    overflow: hidden;
}

.activities {
    padding: 5px 0px;
}

.hidden-activities {
    background-color: rgb(155, 194, 163);
    height: 0px;
    overflow: hidden;
    transition: height 1s;
}

.activities:hover > .hidden-activities {
    height: 490px;
    overflow: hidden;
}

.footer {
    padding: 5px 0px;
}

img.resume {
    width: 100%;
    height: auto;
}

img.typical {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

img.nontypical {
    width: 75%;
    height: auto;
    border-radius: 10px;
}

video.typical {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hidden-container-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    margin: 1.5vw;
}

.box-1x3 {
    grid-column: 1 / 3;
}

.box-2x3 {
    grid-column: 2 / 3;
    align-content: space-around;
}

.box-3x5 {
    grid-column: 3 / 5;
    align-self: center;
}

.box-3x7 {
    grid-column: 3 / 7;
    text-align: center;
}

.box-5x7 {
    grid-column: 5 / 7;
}

.box-3x7 > p {
    text-align: left;
}

.box-7x9 {
    grid-column: 7 / 9;
    align-self: center;
}

.hidden-container-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 15px;
    margin: 1.5vw;
}

.box-1x4 {
    grid-column: 1 / 4;
    align-self: center;
}

.box-3x5 {
    grid-column: 3 / 5;
    align-self: end;
}

.box-4x7 {
    grid-column: 4 / 7;
    align-self: center;
}

.box-5x8 {
    grid-column: 5 / 8;
}

.box-7x10 {
    grid-column: 7 / 10;
    align-self: center;
}

.box-8x10 {
    grid-column: 8 / 10;
    align-self: last baseline;
}

.inline-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px 0px;
}

.scene {
    display: inline-block;
    width: 300px;
    height: 300px;
    perspective: 600px;
    border-radius: 10px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.5s;
}

.card:hover {
    border: 10px solid #ffd664;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: 700;
  backface-visibility: hidden;
}

.card__face--front-crochet {
  background-image: url(autocad.jpg);
  background-size: cover;
 
}

.card__face--back-crochet {
  background-image: url(crochet-back.jpg);
  background-size: cover;

  transform: rotateY(180deg);
}

.card__face--front-skate {
  background-image: url(bim-add.jpg);
  background-size: cover;
  
}

.card__face--back-skate {
  background-image: url(skate-back.gif);
  background-size: cover;

  transform: rotateY(180deg);
}

.card__face--front-climb {
  background-image: url(bim-model.jpg);
  background-size: cover;
  
}

.card__face--back-climb {
  background-image: url(climb-back.gif);
  background-size: cover;

  transform: rotateY(180deg);
}

.flex-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    margin: 20px;
}

.small-box {
    display: border-box;
    margin-right: 15px;
    padding: 10px;
    flex: 1;
    border-radius: 10px;
}

.big-box {
    display: border-box;
    flex: 3;
    height: 100%
    padding: 10px;
    align-self: center;
}

img.big-box-pic {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.big-box-pic:hover {
    background-color: rgb(76, 115, 70);
    padding: 10px;
}
